* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color:rgb(255, 255, 255);
  background-color: rgb(184, 178, 178);
  font-family: Helvetica, Arial, sans-serif;
}

.container {
  margin: 10vh auto 0 auto;
  background-color: black;
  width: 300px;
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0;
  grid-auto-flow: row;
  grid-template-areas:
    "display display display display"
    "clearAll clearAll clearAll divide"
    "seven eight nine multiplyy"
    "four five six minus"
    "one two three plus"
    "dotDot zeroZero equals equals";

  .display {
    width: 100%;
    height: 130px;
    border-radius: 0;
    margin: 0;
    background-color: rgb(40, 40, 40);
    text-align: right;
    padding-top: 90px;
    font-size: 35px;
  }

  .button {
    background-color: rgb(142, 141, 141);
    border: 1px solid black;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    padding-top: 8px;
    margin-top: 10px;
    text-align: center;
    font-size: 25px;
    justify-self: center;
    vertical-align: middle;
    cursor: pointer;
  }

  .button:hover {
    background-color: rgb(77, 77, 77);
    transition: 0.1s ease-in-out;
  }

  .num {
    color: rgb(255, 255, 255);
  }
  .operator {
    color: #E2CE14;
  }
  .dotDot {
    color:rgb(255, 255, 255);
  }
  .clearAll {
    color: #de4200;
    width: 200px;
    background-color: #E2CE14;
  }
  .equals {
    background-color: #E2CE14;
    color:rgb(255, 255, 255);
    width: 125px;
  }
 
}

.display { grid-area: display; }

// .brackets { grid-area: brackets; }

// .percentage { grid-area: percentage; }

.divide { grid-area: divide; }

.seven { grid-area: seven; }

.eight { grid-area: eight; }

.nine { grid-area: nine; }

.four { grid-area: four; }

.five { grid-area: five; }

.six { grid-area: six; }

.one { grid-area: one; }

.two { grid-area: two; } 

.three { grid-area: three; }

// .plusMinus { grid-area: plusMinus; }

.zeroZero { grid-area: zeroZero; }

.dotDot { grid-area: dotDot; }

.equals { grid-area: equals; }

.plus { grid-area: plus; }

.minus { grid-area: minus; }

.multiplyy { grid-area: multiplyy; }

.clearAll { grid-area: clearAll; }
